
header {
    height: 100px;
    background-color: aquamarine;
}

.jumbo {
    height: 300px;
    background-color: lightblue;
}

[class^=col-] {
    border: 1px solid black;
    min-height: 100px;
}

.title h2 {
    padding: 10px 0;
}