/* RESET */
img {
    max-width: 100%;
}

/* HEADER */
header {
    height: 100px;
    background-color: #2C3E50;
}

/* Nav bar */
.ms_logo a {
    color: white;
}

.ms_menu {
    display: none;
}

.ms_menu-list  {
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .hamburger_menu {
        display: none;
    }

    .ms_menu {
        display: flex;
    }
    
}

/* MAIN */

/* Jumbotron */
.jumbo {
    background-color: #1ABC9C;
}

.ms_star-style {
    border: 2px solid white;
    width: 100px;
    height: 2px;
}

.ms_jumbo-content {
    color: white;
}

.ms_jumbo-img {
    width: 200px;
}

hr {
    color: black;
}


.title h2 {
    padding: 10px 0;
}


/* About section */
.ms_about-section {
    background-color: #1ABC9C;
}


.ms_small-container {
    width: 60%;
    margin: 0 auto;
}

.ms_buttons {
   border: 1px solid white;
   color: white;
}

/* Contact section */
.ms_contact-content {
    color: black;
}

.ms_star-style-contact {
   border: 2px solid black;
   width: 100px;
   height: 2px;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
}

/* Location section */
.location {
    background-color: #3A546D;
    color: white;
}

.ms_icons i {
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.ms_link {
    color: gray;
    text-decoration: none;
}

/* FOOTER */
footer {
    background-color: #2C3E50;
    font-size: .7rem;
    color: white;
}